/*================
  GENERAL
================*/

$mobile: 767px;

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1f1f;
  @media (max-width: $mobile) {
    overflow-x:hidden;
  }
}

h1, h2, h3, h4 {
  color: #910808;
}

h1 {
  font-size: 30px;
}

a:-webkit-any-link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: row;
  padding: 50px;
  @media (max-width: $mobile) {
    flex-direction: column;
    padding: 20px;
  }
}

#primary {
  max-width: calc(100vw - 310px);
  flex: 1;
  padding: 20px 30px 20px 50px;
  @media (max-width: $mobile) {
    max-width: 100vw;
    padding: 20px;
  }
}

.mobmenu-panel {
  overflow: hidden !important;
}

/*================
  NAVBAR
================*/

.navbar {
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  @media (max-width: $mobile) {
    display: none;
  }
  div {
    margin-bottom: 20px;
  }
}
.fixed-navbar {
  position: fixed;
  width: 310px;
  z-index: 10;
  left: 0;
  top: 0;
  padding-top: 50px;
  padding-left: 50px;
  height: 100vh;
  // background-color: rgba(256,256,256,0.6);
  @media (max-width: $mobile) {
    background-color: rgba(0,0,0,0);
    height: 120px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
  }
  a {
    text-decoration: none;
    .navbar_title {
      color: #910808;
      font-size: 44px;
      margin-bottom: 30px;
      line-height: 1.3em;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #B32A2A;
      }
    }
  }
  .navbar-nitke {
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 14px;
    li {
      margin-bottom: 6px;
      &.active {
        a {
          color: #910808;
        }
        ul {
          display: block;
          }
        }
      a {
        text-decoration: none;
        color: #1f1f1f;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #B32A2A;
        }
      }
      .dropdown-menu {
        list-style-type: none;
        font-size: 14px;
        margin: 8px 0 0 8px;
        display: none;
        border: none;
        min-width: 0;
        background-color: rgba(0,0,0,0) !important;
        transform: none !important;
        &.show {
          position: relative !important;
          display: block;
        }
        a {
          color: #1f1f1f;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: #B32A2A;
          }
        }
        li {
          &.active {
            a {
              color: #910808;
            }}
        }
      }
    }
  }
}
[class~="menu-item-object-post"]:last-of-type {
  margin-bottom: 12px;
}

/*================
  LANDING
================*/

#primary-landing {
  max-width: calc(100vw - 310px);
  flex: 1;
  padding: 20px 0px 20px 50px;
  @media (max-width: $mobile) {
    max-width: 100vw;
    padding: 20px;
  }
  .landing-main {
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      height: calc(100vh - 300px);
    }
    #wonderplugin-fullscreen-slideshow {
      width: calc(100vw - 310px);
      min-width: 300px;
      min-height: 200px;
      height: calc(66vw - 206px);
      margin: auto;
      padding: 0;
      z-index: 0;
      @media (max-width: $mobile) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 0;
      }
      #wonderpluginslider-container-1 {
        padding-bottom: 0px !important;
      }
    }
  }
}

.amazingsliderimg {
  width: 60vw;
  // height: 37vw;
  margin-top: 0px !important;
  @media (max-width: $mobile) {
    min-height: 100vh;
    width: auto;
  }
}
.amazingslider-space-1 {
  width: 60vw !important;
  @media (max-width: $mobile) {
    min-width: 100vw !important;
  min-height: 100vh !important;
  }
}

.amazingslider-arrow-left-1, .amazingslider-arrow-right-1 {
  display: none !important;
}

/*================
  HOME
================*/

.home-container {
  max-width: 854px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  .post {
    width: 45%;
    margin-bottom: 20px;
    .post-link {
      text-decoration: none;
      color: #1f1f1f;
      width: 100%;
      height: 100%;
      .gallery-thumbnail {
        width: 100%;
        display: inline-block;
        position: relative;
        &:after {
          padding-top: 66.7%;
          display: block;
          content: "";
        }
        .thumbnail-container {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          .wp-post-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .entry-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/*================
  GALLERY
================*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery-container {
  width: 100%;
  .carousel-inner {
    position: absolute;
    height: calc(100vh - 134px);
    display: flex;
    margin-left: 40px;
    width: calc(100%-40px);
    align-items: center;
    .gallery-featured {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      transition: opacity 1s ease-out;
      opacity: 1;
      // animation: fadeIn .5s ease forwards;
      // &:not(.active) {
      //   display: none;
      // }
      transition: all 0.5s ease-in-out;
      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    .carousel-nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      position: absolute;
      a {
        position: static;
        width: 50%;
        cursor: e-resize;
      }
    }
  }
}

.gallery-nav-father {
  position: relative;
  z-index: 100;
  .gallery-nav-container {
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 210px;
    display: flex;
    flex-direction: column;
    .title {
      margin-bottom: 5px;
      font-style: italic;
      font-size: 14px;
    }
    .gallery-nav-icon {
      text-decoration: none;
      color: rgb(178, 172, 162);
      margin: 3px;
      &.active {
        color: #222;
      }
    }
    .to-thumbnail-view {
      color: #666;
      font-size: 14px;
      margin-top: 12px;
      cursor: pointer;
    }
  }
}

#thumbnail-view {
  width: 100%;
  display: none;
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    padding: 0;
    align-content: stretch;
    li {
      min-width: 300px;
      flex: 1 1 30%;
      margin: 1vmin;
      cursor: pointer;
      .image-thumbnail {
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
}

// #thumbnail-view {
//   width: 100%;
//   display: none;
//   ul {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 1vmin;
//     list-style-type: none;
//     padding: 0;
//     li {
//       height: 30vh;
//       flex-grow: 1;
//       margin: 1vmin;
//       cursor: pointer;
//       &:last-child {
//         flex-grow: 10;
//       }
//       .image-thumbnail {
//         max-height: 100%;
//         min-width: 100%;
//         max-width: 100%;
//         object-fit: cover;
//         vertical-align: bottom;
//       }
//     }
//   }
// }

.mob-menu-icon {
  background-color: rgba(256,256,256,0.5);
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: #910808 !important;
}

.mobile-gallery-area {
  padding-left: 0 !important;
  padding-right: 0 !important;
  ul {
    margin: 0 !important;
    li {
      margin: 20px 0 5px 0 !important;
    }
  }
}

/*================
  PAGES
================*/

.page-main {
  max-width: 1000px;
  .entry-title {
    margin: 30px auto 50px;
  }
}

/*================
  WOOCOMMERCE
================*/
.woocommerce {
  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
 padding: .25rem;
 height: 30px;
 border: 1px solid #999 !important;
 background: #f0f0f0;
 border: 0;
}

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
display: block;
}
 
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
max-width: unset;
}