/*================
  GENERAL
================*/
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1f1f;
}

h1, h2, h3, h4 {
  color: #910808;
}

h1 {
  font-size: 30px;
}

a:-webkit-any-link {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

#primary {
  max-width: calc(100vw - 310px);
  flex: 1;
  padding: 20px 30px 20px 40px;
}

/*================
  NAVBAR
================*/
.navbar {
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.navbar div {
  margin-bottom: 20px;
}

.fixed-navbar {
  position: fixed;
  width: 210px;
  z-index: 10;
}
.fixed-navbar a {
  text-decoration: none;
}
.fixed-navbar a .navbar_title {
  color: #910808;
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 1.3em;
}
.fixed-navbar .navbar-nitke {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: 14px;
}
.fixed-navbar .navbar-nitke li {
  margin-bottom: 6px;
}
.fixed-navbar .navbar-nitke li.active a {
  color: #910808;
}
.fixed-navbar .navbar-nitke li a {
  text-decoration: none;
  color: #1f1f1f;
}
.fixed-navbar .navbar-nitke li .dropdown-menu {
  list-style-type: none;
  font-size: 14px;
  margin: 8px 0 0 8px;
  display: none;
  border: none;
  min-width: 0;
  background-color: rgba(0, 0, 0, 0) !important;
  transform: none !important;
}
.fixed-navbar .navbar-nitke li .dropdown-menu.show {
  position: relative !important;
  display: block;
}
.fixed-navbar .navbar-nitke li .dropdown-menu a {
  color: #1f1f1f;
}
.fixed-navbar .navbar-nitke li .dropdown-menu li.active a {
  color: #910808;
}

[class~=menu-item-object-post]:last-of-type {
  margin-bottom: 12px;
}

/*================
  LANDING
================*/
#wonderplugin-fullscreen-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.amazingslider-space-1 {
  width: 100vw !important;
  height: 100vh !important;
}

.amazingslider-arrow-left-1, .amazingslider-arrow-right-1 {
  display: none !important;
}

/*================
  HOME
================*/
.home-container {
  max-width: 854px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
.home-container .post {
  width: 45%;
  margin-bottom: 20px;
}
.home-container .post .post-link {
  text-decoration: none;
  color: #1f1f1f;
  width: 100%;
  height: 100%;
}
.home-container .post .post-link .gallery-thumbnail {
  width: 100%;
  display: inline-block;
  position: relative;
}
.home-container .post .post-link .gallery-thumbnail:after {
  padding-top: 66.7%;
  display: block;
  content: "";
}
.home-container .post .post-link .gallery-thumbnail .thumbnail-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-container .post .post-link .gallery-thumbnail .thumbnail-container .wp-post-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.home-container .post .post-link .entry-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*================
  GALLERY
================*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery-container {
  width: 100%;
}
.gallery-container .carousel-inner {
  position: absolute;
  height: calc(100vh - 134px);
  display: flex;
  margin-left: 40px;
  width: calc(100%-40px);
  align-items: center;
}
.gallery-container .carousel-inner .gallery-featured {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 1s ease-out;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.gallery-container .carousel-inner .gallery-featured.hidden {
  visibility: hidden;
  opacity: 0;
}
.gallery-container .carousel-inner .gallery-featured.active {
  visibility: visible;
  opacity: 1;
}
.gallery-container .carousel-inner .carousel-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.gallery-container .carousel-inner .carousel-nav a {
  position: static;
  width: 50%;
  cursor: e-resize;
}

.gallery-nav-father {
  position: relative;
}
.gallery-nav-father .gallery-nav-container {
  position: fixed;
  left: 50px;
  bottom: 50px;
  width: 210px;
  display: flex;
  flex-direction: column;
}
.gallery-nav-father .gallery-nav-container .title {
  margin-bottom: 5px;
  font-style: italic;
  font-size: 14px;
}
.gallery-nav-father .gallery-nav-container .gallery-nav-icon {
  text-decoration: none;
  color: #b2aca2;
  margin: 3px;
}
.gallery-nav-father .gallery-nav-container .gallery-nav-icon.active {
  color: #222;
}
.gallery-nav-father .gallery-nav-container .to-thumbnail-view {
  color: #666;
  font-size: 14px;
  margin-top: 12px;
  cursor: pointer;
}

#thumbnail-view {
  width: 100%;
  display: none;
}
#thumbnail-view ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  list-style-type: none;
  padding: 0;
}
#thumbnail-view ul li {
  height: 30vh;
  flex-grow: 1;
  margin: 1vmin;
  cursor: pointer;
}
#thumbnail-view ul li:last-child {
  flex-grow: 10;
}
#thumbnail-view ul li .image-thumbnail {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/*# sourceMappingURL=nitke.css.map */
